{% extends 'base.html' %}

{% block content %}

<h1>Edit Profile</h1>
<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-8">
                <div class="card bg-info" >
                    <div class="card-body">
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Save Changes</button>
</form>
                    </div>
                </div>
            </div>
          </div>
          </div>
</div>
{% endblock content %}