{% extends "base.html" %}
{% block content %}
<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class=" col-md-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h3 class=" site-heading my-4 mt-3 text-black"> Welcome to My Blog ✍️ </h3>
          <p class="text-dark">Django is Awesome ✨✨✨ </p>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8 mt-3 left">
      {% for post in post_list %}
      <div class="card mb-4">
        <div class="card-body">
         <div class="float-right"> 
          {% if request.user.is_authenticated %}
          {%if request.user.is_active %}
          <h6>Active</h6>
          {% else %}
          <h6>last seen recently</h6>
          {% endif %}
          {% else %}
          <h6>A long time ago</h6>
          {% endif %}
        </div>
          <h2 class="card-title">{{ post.title }}</h2>
          {% load custom_filters %}
          <p class="card-text text-green h6" style="color: blue; font-weight: bolder;">{{ post.author.username| first_upper }} | {{ post.created_on}} </p>
          <p class="card-text">{{post.content|slice:":200"}} </p>
          <div class="row"> 
          <a href="{% url 'post_detail' post.slug  %}"> 
         <button class="btn btn-secondary mx-6">READ More</button>
      </a>
      </div>
      {% load custom_filters %}
      <h5 class="text-green mx-12 float-right " style="color: goldenrod;">Created by {{post.author.username|first_upper}}</h5>
    
             
        </div>

        

        


  
    <div style="border-top: 3px solid salmon;">

        <!-- Comments will be displayed here -->
       
        
        <div style="padding-left: 10%; border: 1px sloid #fef356"> 
         {% for comment in post.comments.all%}
         <div class="bg-primary text-white border border-dark py-2 rounded" style="padding-left: 10%; margin-bottom: 4px;"> 
        <h4>  {{comment.name}} -> {{comment.created_on}}  </h4>
        <h6>  {{comment.body}} </h6>
      </div>
         {% endfor %}
         <button class="btn btn-secondary text-white" style="margin-left: 25%; margin-bottom: 10px; margin-top: 10px;"> <a class=" text-white" href="{% url 'add_comments' post.slug %}">Add Comment</a></button>
         
        </div>
    </div>

    
 
    </div>
      
      {% endfor %}
      <div class="pagination">
        <span class="step-links">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            {% endif %}
        </span>
    </div>
    </div>
   {% block sidebar %}
   {% include 'sidebar.html'%}

   {% endblock sidebar%}
  </div>
</div>
{%endblock%}