{% block sidebar%}
<style>
.card{
    box-shadow: 0 16px 48px #6a6a6b;
}

</style>
<div class="col-md-4 float-right"> 
<div class=" card my-4 px-4"> 
<h2 class="text-center text-dark red">About </h2>
<p class="card-text"> My Blog App is created using Django Web Framework for backend side, designed with bootswatch
    theme for UI - you can also visit my website ... </p>
    <a href="https://bekbrace.com" class="btn btn-danger px-8 py-2">Visit Website!</a>
    <a href="https://docs.djangoproject.com/en/3.1/" class="btn btn-secondary px-8 ">Django Docs</a>
 
</div>
</div>


{% endblock sidebar %}